
    
        <div class="main-content main-content-about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb-trail breadcrumbs">
                            <ul class="trail-items breadcrumb">
                                <li class="trail-item trail-begin">
                                    <a href="index-2.html">خانه</a>
                                </li>
                                <li class="trail-item trail-end active">
                                    درباره ی ما
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="content-area content-about col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="site-main">
                            <h3 class="custom_blog_title">درباره ی ما</h3>
                            <div class="page-main-content">
                                <div class="header-banner banner-image">
                                    <div class="banner-wrap">
                                        <div class="banner-header">
                                            <div class="col-lg-5 col-md-offset-7">
                                                <div class="content-inner">
                                                    <h2 class="title">
                                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                                                    </h2>
                                                    <div class="sub-title">
                                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
                                                    </div>
                                                    <a href="#" class="LCommerce-button button">بیایید خرید کنیم</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 col-sm-4">
                                        <div class="LCommerce-iconbox  layout1">
                                            <div class="iconbox-inner">
                                                <div class="icon-item">
                                                    <span class="placeholder-text">01</span>
                                                    <span class="icon flaticon-truck"></span>
                                                </div>
                                                <div class="content">
                                                    <h4 class="title">
                                                        تحویل رایگان
                                                    </h4>
                                                    <div class="text">
                                                        تحویل رایگان برای خرید بالای 100000 تومان
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-4 col-lg-offset-1">
                                        <div class="LCommerce-iconbox  layout1">
                                            <div class="iconbox-inner">
                                                <div class="icon-item">
                                                    <span class="placeholder-text">02</span>
                                                    <span class="icon flaticon-credit-card"></span>
                                                </div>
                                                <div class="content">
                                                    <h4 class="title">
                                                        ضمانت پول
                                                    </h4>
                                                    <div class="text">
                                                        30 روز ضمانت بازگشت پول بدون هیچ سوالی
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-4 col-lg-offset-1">
                                        <div class="LCommerce-iconbox  layout1">
                                            <div class="iconbox-inner">
                                                <div class="icon-item">
                                                    <span class="placeholder-text">03</span>
                                                    <span class="icon flaticon-telemarketer"></span>
                                                </div>
                                                <div class="content">
                                                    <h4 class="title">
                                                        پشتیبانی آنلاین 24/7
                                                    </h4>
                                                    <div class="text">
                                                        ما در اینجا برای پشتیبانی از شما 24/7 هستیم. بیایید اکنون بخریم!
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="team-member">
                                    <div class="row">
                                        <div class="col-sm-12 border-custom">
                                            <span></span>
                                        </div>
                                    </div>
                                    <h2 class="custom_blog_title center">
                                        افراد مهم
                                    </h2>
                                    <div class="team-member-slider nav-center owl-slick"  data-slick ='{"autoplay":false, "autoplaySpeed":1000, "arrows":true, "dots":false, "infinite":true, "speed":800, "rows":1}' data-responsive='[{"breakpoint":"0","settings":{"slidesToShow":1}},{"breakpoint":"480","settings":{"slidesToShow":1}},{"breakpoint":"767","settings":{"slidesToShow":2}},{"breakpoint":"991","settings":{"slidesToShow":3}},{"breakpoint":"1199","settings":{"slidesToShow":3}},{"breakpoint":"2000","settings":{"slidesToShow":3}}]'>
                                        <div class="LCommerce-team-member">
                                            <div class="team-member-item">
                                                <div class="member_avatar">
                                                    <img src="assets/images/member3.png" alt="img">
                                                </div>
                                                <h5 class="member_name">آقای نیازی</h5>
                                                <div class="member_position">
                                                    مدیر عامل و بنیان گذار
                                                </div>
                                            </div>
                                        </div>
                                        <div class="LCommerce-team-member">
                                            <div class="team-member-item">
                                                <div class="member_avatar">
                                                    <img src="assets/images/member2.png" alt="img">
                                                </div>
                                                <h5 class="member_name">ملیکا خلیلیان</h5>
                                                <div class="member_position">
                                                    مدیر عامل و بنیان گذار
                                                </div>
                                            </div>
                                        </div>
                                        <div class="LCommerce-team-member">
                                            <div class="team-member-item">
                                                <div class="member_avatar">
                                                    <img src="assets/images/member1.png" alt="img">
                                                </div>
                                                <h5 class="member_name">آقای نیازی</h5>
                                                <div class="member_position">
                                                    مدیر عامل و بنیان گذار
                                                </div>
                                            </div>
                                        </div>
                                        <div class="LCommerce-team-member">
                                            <div class="team-member-item">
                                                <div class="member_avatar">
                                                    <img src="assets/images/member3.png" alt="img">
                                                </div>
                                                <h5 class="member_name">آقای نیازی</h5>
                                                <div class="member_position">
                                                    مدیر عامل و بنیان گذار
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   
    <a href="#" class="backtotop">
        <i class="pe-7s-angle-up"></i>
    </a>
