<div class="LCommerce-blog-wraap default">
    <div class="container">
        <h3 class="custommenu-title-blog">
            <span>آخرین اخبار ما</span>
        </h3>
        <div class="LCommerce-blog default">
            <div class="owl-slick equal-container nav-center"
                 data-slick='{"autoplay":false, "autoplaySpeed":1000, "arrows":false, "dots":true, "infinite":true, "speed":800, "rows":1}'
                 data-responsive='[{"breakpoint":"2000","settings":{"slidesToShow":3}},{"breakpoint":"1200","settings":{"slidesToShow":3}},{"breakpoint":"992","settings":{"slidesToShow":2}},{"breakpoint":"768","settings":{"slidesToShow":2}},{"breakpoint":"481","settings":{"slidesToShow":1}}]'>
                <div class="LCommerce-blog-item equal-element layout1">
                    <div class="post-thumb">
                        <a href="#">
                            <img src="assets/images/slider-blog-thumb-1.jpg" alt="img">
                        </a>
                        <div class="category-blog">
                            <ul class="list-category">
                                <li class="category-item">
                                    <a href="#">لب تاب</a>
                                </li>
                            </ul>
                        </div>
                        <div class="post-item-share">
                            <a href="#" class="icon">
                                <i class="fa fa-share-alt" aria-hidden="true"></i>
                            </a>
                            <div class="box-content">
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-pinterest"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="blog-info">
                        <div class="blog-meta">
                            <div class="post-date">
                                1 اردیبهشت 1399 ساعت 22:00
                            </div>
                            <span class="view">
                                    <i class="icon fa fa-eye" aria-hidden="true"></i>
                                    631
                                </span>
                            <span class="comment">
                                    <i class="icon fa fa-commenting" aria-hidden="true"></i>
                                    84
                                </span>
                        </div>
                        <h2 class="blog-title">
                            <a href="#">ما با کار بهترین ها را برای شما به ارمغان می آوریم</a>
                        </h2>
                        <div class="main-info-post">
                            <p class="des">
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                            </p>
                        </div>
                    </div>
                </div>
                <div class="LCommerce-blog-item equal-element layout1">
                    <div class="post-thumb">
                        <a href="#">
                            <img src="assets/images/slider-blog-thumb-2.jpg" alt="img">
                        </a>
                        <div class="category-blog">
                            <ul class="list-category">
                                <li class="category-item">
                                    <a href="#">چگونه</a>
                                </li>
                            </ul>
                        </div>
                        <div class="post-item-share">
                            <a href="#" class="icon">
                                <i class="fa fa-share-alt" aria-hidden="true"></i>
                            </a>
                            <div class="box-content">
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-pinterest"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="blog-info">
                        <div class="blog-meta">
                            <div class="post-date">
                                 1 اردیبهشت 1399 ساعت 22:00
                            </div>
                            <span class="view">
                                    <i class="icon fa fa-eye" aria-hidden="true"></i>
                                    631
                                </span>
                            <span class="comment">
                                    <i class="icon fa fa-commenting" aria-hidden="true"></i>
                                    84
                                </span>
                        </div>
                        <h2 class="blog-title">
                            <a href="#">فرصت استفاده از فناوری اطلاعات را با لکامرس تجربه کنید</a>
                        </h2>
                        <div class="main-info-post">
                            <p class="des">
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                            </p>
                        </div>
                    </div>
                </div>
                <div class="LCommerce-blog-item equal-element layout1">
                    <div class="post-thumb">
                        <div class="video-LCommerce-blog">
                            <figure>
                                <img src="assets/images/slider-blog-thumb-3.jpg" alt="img" width="370"
                                     height="280">
                            </figure>
                            <a class="quick-install" href="#" data-videosite="vimeo"
                               data-videoid="134060140"></a>
                        </div>
                        <div class="category-blog">
                            <ul class="list-category">
                                <li class="category-item">
                                    <a href="#">ویدئو</a>
                                </li>
                            </ul>
                        </div>
                        <div class="post-item-share">
                            <a href="#" class="icon">
                                <i class="fa fa-share-alt" aria-hidden="true"></i>
                            </a>
                            <div class="box-content">
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-pinterest"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="blog-info">
                        <div class="blog-meta">
                            <div class="post-date">
                                 1 اردیبهشت 1399 ساعت 22:00
                            </div>
                            <span class="view">
                                    <i class="icon fa fa-eye" aria-hidden="true"></i>
                                    631
                                </span>
                            <span class="comment">
                                    <i class="icon fa fa-commenting" aria-hidden="true"></i>
                                    84
                                </span>
                        </div>
                        <h2 class="blog-title">
                            <a href="#">برنامه های تلفن همراه داغترین منتخب هستند</a>
                        </h2>
                        <div class="main-info-post">
                            <p class="des">
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                            </p>
                        </div>
                    </div>
                </div>
                <div class="LCommerce-blog-item equal-element layout1">
                    <div class="post-thumb">
                        <a href="#">
                            <img src="assets/images/slider-blog-thumb-4.jpg" alt="img">
                        </a>
                        <div class="category-blog">
                            <ul class="list-category">
                                <li class="category-item">
                                    <a href="#">لب تاب</a>
                                </li>
                            </ul>
                        </div>
                        <div class="post-item-share">
                            <a href="#" class="icon">
                                <i class="fa fa-share-alt" aria-hidden="true"></i>
                            </a>
                            <div class="box-content">
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-pinterest"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="blog-info">
                        <div class="blog-meta">
                            <div class="post-date">
                                 1 اردیبهشت 1399 ساعت 22:00
                            </div>
                            <span class="view">
                                    <i class="icon fa fa-eye" aria-hidden="true"></i>
                                    631
                                </span>
                            <span class="comment">
                                    <i class="icon fa fa-commenting" aria-hidden="true"></i>
                                    84
                                </span>
                        </div>
                        <h2 class="blog-title">
                            <a href="#">فرصت استفاده از فناوری اطلاعات را با لکامرس تجربه کنید</a>
                        </h2>
                        <div class="main-info-post">
                            <p class="des">
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>