<div class="home-slider-banner rows-space-40">
    <div class="container">
        <div class="row10">
            <div class="col-lg-8 silider-wrapp">
                <div class="home-slider">
                    <div class="slider-owl owl-slick equal-container nav-center"
                         data-slick='{"autoplay":true, "autoplaySpeed":9000, "arrows":false, "dots":true, "infinite":true, "speed":1000, "rows":1}'
                         data-responsive='[{"breakpoint":"2000","settings":{"slidesToShow":1}}]'>
                        <div class="slider-item style7">
                            <div class="slider-inner equal-element">
                                <div class="slider-infor">
                                    <h5 class="title-small">
                                        فروش تا 40٪ تخفیف!                                            </h5>
                                    <h3 class="title-big">
                                        تخفیف هفته! محصولات الکترونیک
                                    </h3>
                                    <div class="price">
                                        قیمت از:
                                        <span class="number-price">
                                                270000 تومان
                                            </span>
                                    </div>
                                    <a href="#" class="button btn-shop-the-look bgroud-style">اکنون خرید کنید</a>
                                </div>
                            </div>
                        </div>
                        <div class="slider-item style8">
                            <div class="slider-inner equal-element">
                                <div class="slider-infor">
                                    <h5 class="title-small">
                                        فروش جمعه سیاه!
                                    </h5>
                                    <h3 class="title-big">
                                        مجموعه الکترونیک فروش بزرگ
                                    </h3>
                                    <div class="price">
                                        صرفه جویی در قیمت:
                                        <span class="number-price">
                                                170000 تومان
                                            </span>
                                    </div>
                                    <a href="#" class="button btn-shop-product">اکنون خرید کنید</a>
                                </div>
                            </div>
                        </div>
                        <div class="slider-item style9">
                            <div class="slider-inner equal-element">
                                <div class="slider-infor">
                                    <h5 class="title-small">
                                        مجموعه هدفون لکامرس
                                    </h5>
                                    <h3 class="title-big">
                                        الهام بخش فروشگاه ما
                                    </h3>
                                    <a href="#" class="button btn-chekout">اکنون خرید کنید</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 banner-wrapp">
                <div class="banner">
                    <div class="item-banner style7">
                        <div class="inner">
                            <div class="banner-content">
                                <h3 class="title">مجموعه الکترونیک</h3>
                                <div class="description">
                                    بهترین انتخاب برای زندگی ، کشف آن!
                                </div>
                                <a href="#" class="button btn-lets-do-it">اکنون خرید کنید</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="banner">
                    <div class="item-banner style8">
                        <div class="inner">
                            <div class="banner-content">
                                <h3 class="title">ساعت هوشمند جدید</h3>
                                <div class="description">
                                    لکامرس سبک الکترونیک، روز به روز!
                                </div>
                                <span class="price">379000 تومان</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>