<div class="LCommerce-product produc-featured rows-space-65">
    <div class="container">
        <h3 class="custommenu-title-blog">
            <span class="flaticon-flash"></span>
            <span>پرفروشترین های امروز</span>
        </h3>
        <div id="slick" class="owl-products owl-slick equal-container nav-center"
             data-slick='{"autoplay":false, "autoplaySpeed":1000, "arrows":false, "dots":true, "infinite":false, "speed":800, "rows":1}'
             data-responsive='[{"breakpoint":"2000","settings":{"slidesToShow":4}},{"breakpoint":"1200","settings":{"slidesToShow":3}},{"breakpoint":"992","settings":{"slidesToShow":2}},{"breakpoint":"480","settings":{"slidesToShow":1}}]'>
            <div class="product-item style-5">
                <div class="product-inner equal-element">
                    <div class="product-top">
                        <div class="flash">
                                    <span class="onnew">
                                        <span class="text">
                                            جدید
                                        </span>
                                    </span>
                        </div>
                        <div class="yith-wcwl-add-to-wishlist">
                            <div class="yith-wcwl-add-button">
                                <a href="#">افزودن به علاقه مندی ها </a>
                            </div>
                        </div>
                    </div>
                    <div class="product-thumb">
                        <div class="thumb-inner">
                            <a href="#">
                                <img src="assets/images/product-item-17.jpg" alt="img">
                            </a>
                        </div>
                        <a href="#" class="button quick-wiew-button">مشاهده سریع</a>
                        <div class="product-count-down">
                            <div class="LCommerce-countdown" data-y="2020" data-m="9" data-w="2" data-d="30"
                                 data-h="20" data-i="60" data-s="60"></div>
                        </div>
                    </div>
                    <div class="product-info">
                        <h5 class="product-name product_title">
                            <a href="#">ساعت هوشمند دوربل</a>
                        </h5>
                        <div class="group-info">
                            <div class="stars-rating">
                                <div class="star-rating">
                                    <span class="star-3"></span>
                                </div>
                                <div class="count-star">
                                    (3)
                                </div>
                            </div>
                            <div class="price">
                                <del>
                                    65000 تومان
                                </del>
                                <ins>
                                    45000 تومان
                                </ins>
                            </div>
                        </div>
                    </div>
                    <div class="loop-form-add-to-cart">
                        <form class="cart">
                            <div class="single_variation_wrap">
                                <div class="quantity">
                                    <div class="control">
                                        <a class="btn-number qtyminus quantity-minus" href="#">-</a>
                                        <input type="text" data-step="1" data-min="0" value="1" title="Qty"
                                               class="input-qty qty" size="4">
                                        <a href="#" class="btn-number qtyplus quantity-plus">+</a>
                                    </div>
                                </div>
                                <button class="single_add_to_cart_button button">افزودن به سبد خرید</button>
                            </div>
                            <div class="variations">
                                <div class="variation">
                                    <label class="variation-label">
                                        ویژگی ها:
                                    </label>
                                    <div class="variation-value">
                                        <a href="#" class="change-value text">
                                            <span>بسیار کوچک</span>
                                        </a>
                                        <a href="#" class="change-value text">
                                            <span>کوچک</span>
                                        </a>
                                        <a href="#" class="change-value text">
                                            <span>متوسط</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="product-item style-5">
                <div class="product-inner equal-element">
                    <div class="product-top">
                        <div class="flash">
                                    <span class="onnew">
                                        <span class="text">
                                            جدید
                                        </span>
                                    </span>
                        </div>
                        <div class="yith-wcwl-add-to-wishlist">
                            <div class="yith-wcwl-add-button">
                                <a href="#">افزودن به علاقه مندی ها </a>
                            </div>
                        </div>
                    </div>
                    <div class="product-thumb">
                        <div class="thumb-inner">
                            <a href="#">
                                <img src="assets/images/product-item-21.jpg" alt="img">
                            </a>
                        </div>
                        <a href="#" class="button quick-wiew-button">مشاهده سریع</a>
                        <div class="product-count-down">
                            <div class="LCommerce-countdown" data-y="2020" data-m="9" data-w="2" data-d="30"
                                 data-h="20" data-i="60" data-s="60"></div>
                        </div>
                    </div>
                    <div class="product-info">
                        <h5 class="product-name product_title">
                            <a href="#">ساعت هوشمند دوربل</a>
                        </h5>
                        <div class="group-info">
                            <div class="stars-rating">
                                <div class="star-rating">
                                    <span class="star-3"></span>
                                </div>
                                <div class="count-star">
                                    (3)
                                </div>
                            </div>
                            <div class="price">
                                <del>
                                    65000 تومان
                                </del>
                                <ins>
                                    45000 تومان
                                </ins>
                            </div>
                        </div>
                    </div>
                    <div class="loop-form-add-to-cart">
                        <form class="cart">
                            <div class="single_variation_wrap">
                                <div class="quantity">
                                    <div class="control">
                                        <a class="btn-number qtyminus quantity-minus" href="#">-</a>
                                        <input type="text" data-step="1" data-min="0" value="1" title="Qty"
                                               class="input-qty qty" size="4">
                                        <a href="#" class="btn-number qtyplus quantity-plus">+</a>
                                    </div>
                                </div>
                                <button class="single_add_to_cart_button button">افزودن به سبد خرید</button>
                            </div>
                            <div class="variations">
                                <div class="variation">
                                    <label class="variation-label">
                                        ویژگی ها:
                                    </label>
                                    <div class="variation-value">
                                        <a href="#" class="change-value text">
                                            <span>متوسظ</span>
                                        </a>
                                        <a href="#" class="change-value text">
                                            <span>بزرگ</span>
                                        </a>
                                        <a href="#" class="change-value text">
                                            <span>بسیار بزرگ</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="product-item style-5">
                <div class="product-inner equal-element">
                    <div class="product-top">
                        <div class="flash">
                                    <span class="onnew">
                                        <span class="text">
                                            جدید
                                        </span>
                                    </span>
                        </div>
                        <div class="yith-wcwl-add-to-wishlist">
                            <div class="yith-wcwl-add-button">
                                <a href="#">افزودن به علاقه مندی ها </a>
                            </div>
                        </div>
                    </div>
                    <div class="product-thumb">
                        <div class="thumb-inner">
                            <a href="#">
                                <img src="assets/images/product-item-20.jpg" alt="img">
                            </a>
                        </div>
                        <a href="#" class="button quick-wiew-button">مشاهده سریع</a>
                        <div class="product-count-down">
                            <div class="LCommerce-countdown" data-y="2020" data-m="9" data-w="2" data-d="30"
                                 data-h="20" data-i="60" data-s="60"></div>
                        </div>
                    </div>
                    <div class="product-info">
                        <h5 class="product-name product_title">
                            <a href="#">ساعت هوشمند دوربل</a>
                        </h5>
                        <div class="group-info">
                            <div class="stars-rating">
                                <div class="star-rating">
                                    <span class="star-3"></span>
                                </div>
                                <div class="count-star">
                                    (3)
                                </div>
                            </div>
                            <div class="price">
                                <del>
                                    65000 تومان
                                </del>
                                <ins>
                                    45000 تومان
                                </ins>
                            </div>
                        </div>
                    </div>
                    <div class="loop-form-add-to-cart">
                        <form class="cart">
                            <div class="single_variation_wrap">
                                <div class="quantity">
                                    <div class="control">
                                        <a class="btn-number qtyminus quantity-minus" href="#">-</a>
                                        <input type="text" data-step="1" data-min="0" value="1" title="Qty"
                                               class="input-qty qty" size="4">
                                        <a href="#" class="btn-number qtyplus quantity-plus">+</a>
                                    </div>
                                </div>
                                <button class="single_add_to_cart_button button">افزودن به سبد خرید</button>
                            </div>
                            <div class="variations">
                                <div class="variation">
                                    <label class="variation-label">
                                        ویژگی ها:
                                    </label>
                                    <div class="variation-value">
                                        <a href="#" class="change-value text">
                                            <span>بسیار کوچک</span>
                                        </a>
                                        <a href="#" class="change-value text">
                                            <span>متوسط</span>
                                        </a>
                                        <a href="#" class="change-value text">
                                            <span>بزرگ</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="product-item style-5">
                <div class="product-inner equal-element">
                    <div class="product-top">
                        <div class="flash">
                                    <span class="onnew">
                                        <span class="text">
                                            جدید
                                        </span>
                                    </span>
                        </div>
                        <div class="yith-wcwl-add-to-wishlist">
                            <div class="yith-wcwl-add-button">
                                <a href="#">افزودن به علاقه مندی ها </a>
                            </div>
                        </div>
                    </div>
                    <div class="product-thumb">
                        <div class="thumb-inner">
                            <a href="#">
                                <img src="assets/images/product-item-22.jpg" alt="img">
                            </a>
                        </div>
                        <a href="#" class="button quick-wiew-button">مشاهده سریع</a>
                        <div class="product-count-down">
                            <div class="LCommerce-countdown" data-y="2020" data-m="9" data-w="2" data-d="30"
                                 data-h="20" data-i="60" data-s="60"></div>
                        </div>
                    </div>
                    <div class="product-info">
                        <h5 class="product-name product_title">
                            <a href="#">ساعت هوشمند دوربل</a>
                        </h5>
                        <div class="group-info">
                            <div class="stars-rating">
                                <div class="star-rating">
                                    <span class="star-3"></span>
                                </div>
                                <div class="count-star">
                                    (3)
                                </div>
                            </div>
                            <div class="price">
                                <del>
                                    65000 تومان
                                </del>
                                <ins>
                                    45000 تومان
                                </ins>
                            </div>
                        </div>
                    </div>
                    <div class="loop-form-add-to-cart">
                        <form class="cart">
                            <div class="single_variation_wrap">
                                <div class="quantity">
                                    <div class="control">
                                        <a class="btn-number qtyminus quantity-minus" href="#">-</a>
                                        <input type="text" data-step="1" data-min="0" value="1" title="Qty"
                                               class="input-qty qty" size="4">
                                        <a href="#" class="btn-number qtyplus quantity-plus">+</a>
                                    </div>
                                </div>
                                <button class="single_add_to_cart_button button">افزودن به سبد خرید</button>
                            </div>
                            <div class="variations">
                                <div class="variation">
                                    <label class="variation-label">
                                        ویژگی ها:
                                    </label>
                                    <div class="variation-value">
                                        <a href="#" class="change-value text">
                                            <span>بسیار کوچک</span>
                                        </a>
                                        <a href="#" class="change-value text">
                                            <span>کوچک</span>
                                        </a>
                                        <a href="#" class="change-value text">
                                            <span>بزرگ</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="product-item style-5">
                <div class="product-inner equal-element">
                    <div class="product-top">
                        <div class="flash">
                                    <span class="onnew">
                                        <span class="text">
                                            جدید
                                        </span>
                                    </span>
                        </div>
                        <div class="yith-wcwl-add-to-wishlist">
                            <div class="yith-wcwl-add-button">
                                <a href="#">افزودن به علاقه مندی ها </a>
                            </div>
                        </div>
                    </div>
                    <div class="product-thumb">
                        <div class="thumb-inner">
                            <a href="#">
                                <img src="assets/images/product-item-19.jpg" alt="img">
                            </a>
                        </div>
                        <a href="#" class="button quick-wiew-button">مشاهده سریع</a>
                        <div class="product-count-down">
                            <div class="LCommerce-countdown" data-y="2020" data-m="9" data-w="2" data-d="30"
                                 data-h="20" data-i="60" data-s="60"></div>
                        </div>
                    </div>
                    <div class="product-info">
                        <h5 class="product-name product_title">
                            <a href="#">ساعت هوشمند دوربل</a>
                        </h5>
                        <div class="group-info">
                            <div class="stars-rating">
                                <div class="star-rating">
                                    <span class="star-3"></span>
                                </div>
                                <div class="count-star">
                                    (3)
                                </div>
                            </div>
                            <div class="price">
                                <del>
                                    65000 تومان
                                </del>
                                <ins>
                                    45000 تومان
                                </ins>
                            </div>
                        </div>
                    </div>
                    <div class="loop-form-add-to-cart">
                        <form class="cart">
                            <div class="single_variation_wrap">
                                <div class="quantity">
                                    <div class="control">
                                        <a class="btn-number qtyminus quantity-minus" href="#">-</a>
                                        <input type="text" data-step="1" data-min="0" value="1" title="Qty"
                                               class="input-qty qty" size="4">
                                        <a href="#" class="btn-number qtyplus quantity-plus">+</a>
                                    </div>
                                </div>
                                <button class="single_add_to_cart_button button">افزودن به سبد خرید</button>
                            </div>
                            <div class="variations">
                                <div class="variation">
                                    <label class="variation-label">
                                        ویژگی ها:
                                    </label>
                                    <div class="variation-value">
                                        <a href="#" class="change-value text">
                                            <span>بسیار کوچک</span>
                                        </a>
                                        <a href="#" class="change-value text">
                                            <span>متوسط</span>
                                        </a>
                                        <a href="#" class="change-value text">
                                            <span>بزرگ</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="product-item style-5">
                <div class="product-inner equal-element">
                    <div class="product-top">
                        <div class="flash">
                                    <span class="onnew">
                                        <span class="text">
                                            جدید
                                        </span>
                                    </span>
                        </div>
                        <div class="yith-wcwl-add-to-wishlist">
                            <div class="yith-wcwl-add-button">
                                <a href="#">افزودن به علاقه مندی ها </a>
                            </div>
                        </div>
                    </div>
                    <div class="product-thumb">
                        <div class="thumb-inner">
                            <a href="#">
                                <img src="assets/images/product-item-18.jpg" alt="img">
                            </a>
                        </div>
                        <a href="#" class="button quick-wiew-button">مشاهده سریع</a>
                        <div class="product-count-down">
                            <div class="LCommerce-countdown" data-y="2020" data-m="9" data-w="2" data-d="30"
                                 data-h="20" data-i="60" data-s="60"></div>
                        </div>
                    </div>
                    <div class="product-info">
                        <h5 class="product-name product_title">
                            <a href="#">ساعت هوشمند دوربل</a>
                        </h5>
                        <div class="group-info">
                            <div class="stars-rating">
                                <div class="star-rating">
                                    <span class="star-3"></span>
                                </div>
                                <div class="count-star">
                                    (3)
                                </div>
                            </div>
                            <div class="price">
                                <del>
                                    65000 تومان
                                </del>
                                <ins>
                                    45000 تومان
                                </ins>
                            </div>
                        </div>
                    </div>
                    <div class="loop-form-add-to-cart">
                        <form class="cart">
                            <div class="single_variation_wrap">
                                <div class="quantity">
                                    <div class="control">
                                        <a class="btn-number qtyminus quantity-minus" href="#">-</a>
                                        <input type="text" data-step="1" data-min="0" value="1" title="Qty"
                                               class="input-qty qty" size="4">
                                        <a href="#" class="btn-number qtyplus quantity-plus">+</a>
                                    </div>
                                </div>
                                <button class="single_add_to_cart_button button">افزودن به سبد خرید</button>
                            </div>
                            <div class="variations">
                                <div class="variation">
                                    <label class="variation-label">
                                        ویژگی ها:
                                    </label>
                                    <div class="variation-value">
                                        <a href="#" class="change-value text">
                                            <span>بسیار کوچک</span>
                                        </a>
                                        <a href="#" class="change-value text">
                                            <span>کوچک</span>
                                        </a>
                                        <a href="#" class="change-value text">
                                            <span>بزرگ</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>