<div class="newsletter-wrapp">
    <div class="LCommerce-newsletter style3 ">
        <div class="container">
            <div class="newsletter-head">
                <h3 class="title">ثبت نام در خبرنامه</h3>
                <div class="subtitle">
                    برای دریافت تخفیف های ویژه <br/>
                   و رویداد ها عضو شوید
                </div>
            </div>
            <div class="newsletter-form-wrap">
                <input class="input-text email email-newsletter" type="email" name="email"
                       placeholder="ایمیل خود را وارد کنید.">
                <button class="button btn-submit submit-newsletter">اشتراک</button>
            </div>
        </div>
    </div>
</div>