<app-header></app-header>
<div class="main-content main-content-404 right-sidebar">
    <div class="container">
        <div class="row">
            <div class="content-area content-404 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="site-main">
                    <section class="error-404 not-found">
                        <div class="images">
                            <img src="assets/images/404.jpg" alt="img">
                        </div>
                        <div class="text-404">
                            <h1 class="page-title">
                                خطای 404 یافت نشد
                            </h1>
                            <p class="page-content">
                                متأسفیم اما صفحه ای که به دنبال آن هستید وجود ندارد. <br/>
                               می توانید برگردید به
                                <a href="index-2.html" class="hightlight"> صفحه نخست</a>
                                یا با استفاده از
                                <span class="hightlight toggle-hightlight">
										 جستجو!

                                 </span>
                                <br/>صفحه موردنظر را پیدا کنید.
                            </p>
                            <form role="search" method="get" class="search-form">
                                <input type="search" class="search-field" placeholder="جستجو...">
                                <button>جستجو</button>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>