<div class="banner-wrapp">
    <div class="container">
        <div class="banner">
            <div class="item-banner style17">
                <div class="inner">
                    <div class="banner-content">
                        <h3 class="title">مجموعه دنیای دیجیتال</h3>
                        <div class="description">
                            ایا شما تلفن ندارید؟ آیا اماده ی <br/>رشد هستید؟ بیاید و از ما خرید کنید!
                        </div>
                        <div class="banner-price">
                            قیمت از:
                            <span class="number-price">45000 تومان</span>
                        </div>
                        <a href="#" class="button btn-shop-now">اکنون خرید کنید</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="banner-wrapp rows-space-65">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="banner">
                    <div class="item-banner style4">
                        <div class="inner">
                            <div class="banner-content">
                                <h4 class="LCommerce-subtitle">اقلام ضروری!</h4>
                                <h3 class="title">هدفون ها</h3>
                                <div class="description">
                                    هدفون داغ در حال حاضر در انبار ما موجود است.
                                </div>
                                <a href="#" class="button btn-shop-now">اکنون خرید کنید</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="banner">
                    <div class="item-banner style5">
                        <div class="inner">
                            <div class="banner-content">
                                <h3 class="title">مجموعه<br/>ساعت ها</h3>
                                <span class="code">
                                        استفاده از کد:
                                        <span>
                                            وارسا
                                        </span>
                                        Get
                                        <span>
                                            25٪ تخفیف
                                        </span>
                                        برای همه موارد لوازم جانبی!
                                    </span>
                                <a href="#" class="button btn-shop-now">اکنون خرید کنید</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>